(dp1
S'deviceRefreshRates'
p2
(dp3
S'Compressor'
p4
(dp5
S'readings'
p6
I1
ssS'Dilution Unit Temperatures'
p7
(dp8
g6
I1
ssS'Mix Pt1000 Temperature'
p9
(dp10
g6
I1
ssS'50K and 3K Pt1000 Temperatures'
p11
(dp12
g6
I1
ssS'Water Flow'
p13
(dp14
g6
I1
ssS'Grapher'
p15
(dp16
g6
I1
ssS'Vacuum'
p17
(dp18
g6
I1
ssS'Water Temperature'
p19
(dp20
g6
I1
sssS'DataLoggingInfo'
p21
(dp22
g4
(dp23
S'channels'
p24
(dp25
S'Output Water Temperature'
p26
I00
sS'Oil Temperature'
p27
I00
sS'Helium Temperature'
p28
I00
sS'Input Water Temperature'
p29
I00
ssS'name'
p30
g4
sS'location'
p31
S'C:/data/fridgeLogs/dr2/test__2'
p32
ssNNsg7
(dp33
g24
(dp34
S'Mix Temperature'
p35
I00
sS'Still Temperature'
p36
I00
sS'Exchange Temperature'
p37
I00
ssg30
g7
sg31
S'C:/data/fridgeLogs/dr2/test__3'
p38
ssg9
(dp39
g24
(dp40
g35
I00
ssg30
g9
sg31
S'C:/data/fridgeLogs/dr2/test__36__0__0__0__0__0__0__0__0__0__0'
p41
ssg11
(dp42
g24
(dp43
S'50K Stage Temperature'
p44
I00
sS'3K Stage Temperature'
p45
I00
ssg30
g11
sg31
S'C:/data/fridgeLogs/dr2/test__1'
p46
ssg13
(dp47
g24
(dp48
S'External Water Flow Rate'
p49
I00
ssg30
g13
sg31
S'C:/data/fridgeLogs/dr2/test__1'
p50
ssg17
(dp51
g24
(dp52
S'IVC Pressure'
p53
I00
sS'OVC Pressure'
p54
I00
sS'Still Pressure'
p55
I00
ssg30
g17
sg31
S'C:/data/fridgeLogs/dr2/test__6'
p56
ssg19
(dp57
g24
(dp58
S'Exteranal Water Temperature'
p59
I00
ssg30
g19
sg31
S'C:/data/fridgeLogs/dr2/test__0'
p60
sssS'guiRefreshRate'
p61
I1
sS'cooldown_mode'
p62
I01
s.