(dp1
S'NotifierInfo'
p2
(dp3
S'Mail_Settings'
p4
(dp5
S'DisplayValue'
p6
I3
sS'DisplayUnit'
p7
S'Hours'
p8
sS'Period'
p9
I10800
ssS'Mailing'
p10
(dp11
sS'Limits'
p12
(dp13
S'Vacuum:IVC Pressure'
p14
(dp15
S'Max'
p16
NsS'enable'
p17
I00
sS'Min'
p18
NssS'Compressor:Output Water Temperature'
p19
(dp20
g16
Nsg17
I00
sg18
NssS'Compressor:Oil Temperature'
p21
(dp22
g16
Nsg17
I00
sg18
NssS'Dilution Unit Temperatures:Exchange Temperature'
p23
(dp24
g16
Nsg17
I00
sg18
NssS'Mix Pt1000 Temperature:Mix Temperature'
p25
(dp26
g16
Nsg17
I00
sg18
NssS'Water Temperature:Exteranal Water Temperature'
p27
(dp28
g16
Nsg17
I00
sg18
NssS'Compressor:Helium Temperature'
p29
(dp30
g16
Nsg17
I00
sg18
NssS'Vacuum:OVC Pressure'
p31
(dp32
g16
Nsg17
I00
sg18
NssS'Vacuum:Still Pressure'
p33
(dp34
g16
Nsg17
I00
sg18
NssS'Water Flow:External Water Flow Rate'
p35
(dp36
g16
Nsg17
I00
sg18
NssS'Dilution Unit Temperatures:Still Temperature'
p37
(dp38
g16
Nsg17
I00
sg18
NssS'50K and 3K Pt1000 Temperatures:3K Stage Temperature'
p39
(dp40
g16
Nsg17
I00
sg18
NssS'50K and 3K Pt1000 Temperatures:50K Stage Temperature'
p41
(dp42
g16
Nsg17
I00
sg18
NssS'Compressor:Input Water Temperature'
p43
(dp44
g16
Nsg17
I00
sg18
NssS'Dilution Unit Temperatures:Mix Temperature'
p45
(dp46
g16
Nsg17
I00
sg18
NssssS'DataLoggingInfo'
p47
(dp48
S'Compressor'
p49
(dp50
S'channels'
p51
(dp52
S'Output Water Temperature'
p53
I01
sS'Oil Temperature'
p54
I01
sS'Helium Temperature'
p55
I01
sS'Input Water Temperature'
p56
I01
ssS'name'
p57
S'Compressor.log'
p58
sS'location'
p59
S'C:\\Users\\lab_user\\Documents\\Data\\warm\\May_29_2019'
p60
ssNNsS'Dilution Unit Temperatures'
p61
(dp62
g51
(dp63
S'Mix Temperature'
p64
I01
sS'Still Temperature'
p65
I01
sS'Exchange Temperature'
p66
I01
ssg57
S'Dil_unit_Temperatures.log'
p67
sg59
S'C:\\Users\\lab_user\\Documents\\Data\\warm\\May_29_2019'
p68
ssS'Mix Pt1000 Temperature'
p69
(dp70
g51
(dp71
g64
I01
ssg57
S'Mix_Pt_1000_Temperature.log'
p72
sg59
S'C:\\Users\\lab_user\\Documents\\Data\\warm\\May_29_2019'
p73
ssS'50K and 3K Pt1000 Temperatures'
p74
(dp75
g51
(dp76
S'50K Stage Temperature'
p77
I01
sS'3K Stage Temperature'
p78
I01
ssg57
S'50K_3K_stages.log'
p79
sg59
S'C:\\Users\\lab_user\\Documents\\Data\\warm\\May_29_2019'
p80
ssS'Water Flow'
p81
(dp82
g51
(dp83
S'External Water Flow Rate'
p84
I01
ssg57
S'Water_Flow.log'
p85
sg59
S'C:\\Users\\lab_user\\Documents\\Data\\warm\\May_29_2019'
p86
ssS'Vacuum'
p87
(dp88
g51
(dp89
S'IVC Pressure'
p90
I01
sS'OVC Pressure'
p91
I01
sS'Still Pressure'
p92
I01
ssg57
S'Vacuum_OVC_IVC_Still.log'
p93
sg59
S'C:\\Users\\lab_user\\Documents\\Data\\warm\\May_29_2019'
p94
ssS'Water Temperature'
p95
(dp96
g51
(dp97
S'Exteranal Water Temperature'
p98
I01
ssg57
S'Water_Temperature.log'
p99
sg59
S'C:\\Users\\lab_user\\Documents\\Data\\warm\\May_29_2019'
p100
sssS'deviceRefreshRates'
p101
(dp102
g49
(dp103
S'plot'
p104
I1
sS'readings'
p105
I1
ssg61
(dp106
g104
I1
sg105
I1
ssg69
(dp107
g104
I1
sg105
I1
ssg74
(dp108
g104
I1
sg105
I1
ssg81
(dp109
g104
I1
sg105
I1
ssS'Grapher'
p110
(dp111
g105
I1
ssg87
(dp112
g104
I1
sg105
I1
ssg95
(dp113
g104
I1
sg105
I1
sssS'cooldown_mode'
p114
I01
sS'guiRefreshRate'
p115
I1
sS'Email'
p116
(dp117
S'Host'
p118
NsS'Password'
p119
NsS'Address'
p120
Nss.