(dp1
S'Vacuum:IVC Pressure'
p2
(lp3
I00
aF0
aF0.10000000000000001
acsip
_unpickle_type
p4
(S'PyQt4.QtCore'
p5
S'QString'
(V
ttRp6
asS'Compressor:Output Water Temperature'
p7
(lp8
I00
aF0.84999999999999998
aF40.850000000000001
ag4
(g5
S'QString'
(V
ttRp9
asS'Dilution Unit Temperatures:Mix Temperature'
p10
(lp11
I00
aF1
aF100
ag4
(g5
S'QString'
(V
ttRp12
asS'Dilution Unit Temperatures:Exchange Temperature'
p13
(lp14
I00
aF10
aF1000
ag4
(g5
S'QString'
(V
ttRp15
asS'Mix Pt1000 Temperature:Mix Temperature'
p16
(lp17
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp18
asS'Water Temperature:Exteranal Water Temperature'
p19
(lp20
I01
aF1
aF20
ag4
(g5
S'QString'
(Valex,NOAH,NOAH_CELL,ED_EMAIL,CHRIS_CELL,CHRIS_EMAIL,NATE_EMAIL,NATE_CELL,RYAN_CELL,RYAN_EMAIL,JOHN_CELL,JOHN_EMAIL,MATT_CELL,MATT_EMAIL,ROBERTMCD,LAURA_SAFFMAN,LAURA_SAFFMAN_CELL,TRENT_SAFFMAN
p21
ttRp22
asS'Compressor:Helium Temperature'
p23
(lp24
I00
aF1
aF80
ag4
(g5
S'QString'
(V
ttRp25
asS'Water Flow:External Water Flow Rate'
p26
(lp27
I01
aF1.2
aF3
ag4
(g5
S'QString'
(Valex,NOAH,NOAH_CELL,ED_EMAIL,CHRIS_CELL,CHRIS_EMAIL,NATE_EMAIL,NATE_CELL,RYAN_CELL,RYAN_EMAIL,JOHN_CELL,JOHN_EMAIL,MATT_CELL,MATT_EMAIL,ROBERTMCD,LAURA_SAFFMAN,LAURA_SAFFMAN_CELL,TRENT_SAFFMAN
p28
ttRp29
asS'Vacuum:Still Pressure'
p30
(lp31
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp32
asS'Vacuum:OVC Pressure'
p33
(lp34
I00
aF0
aF0.10000000000000001
ag4
(g5
S'QString'
(V
ttRp35
asS'Dilution Unit Temperatures:Still Temperature'
p36
(lp37
I00
aF100
aF10000
ag4
(g5
S'QString'
(V
ttRp38
asS'50K and 3K Pt1000 Temperatures:3K Stage Temperature'
p39
(lp40
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp41
asS'50K and 3K Pt1000 Temperatures:50K Stage Temperature'
p42
(lp43
I00
aS''
aS''
ag4
(g5
S'QString'
(V
ttRp44
asS'Compressor:Input Water Temperature'
p45
(lp46
I00
aF0.84999999999999998
aF20.850000000000001
ag4
(g5
S'QString'
(V
ttRp47
asS'Compressor:Oil Temperature'
p48
(lp49
I00
aF1
aF50
ag4
(g5
S'QString'
(V
ttRp50
as.