(dp1
S'deviceRefreshRates'
p2
(dp3
S'Compressor'
p4
(dp5
S'plot'
p6
F10
sS'readings'
p7
F10
ssS'Dilution Unit Temperatures'
p8
(dp9
g6
F10
sg7
F3
ssS'Mix Pt1000 Temperature'
p10
(dp11
g6
F10
sg7
F10
ssS'50K and 3K Pt1000 Temperatures'
p12
(dp13
g6
F3
sg7
F3
ssS'Water Flow'
p14
(dp15
g6
F3
sg7
F3
ssS'Vacuum'
p16
(dp17
g6
F3
sg7
F3
ssS'Water Temperature'
p18
(dp19
g6
F3
sg7
F3
sssS'guiRefreshRage'
p20
I1
sS'DataLoggingInfo'
p21
(dp22
g4
(dp23
S'channels'
p24
(dp25
S'Output Water Temperature'
p26
I01
sS'Oil Temperature'
p27
I01
sS'Helium Temperature'
p28
I01
sS'Input Water Temperature'
p29
I01
ssS'name'
p30
S'Compressor'
p31
sS'location'
p32
S'Z:\\mcdermott-group\\Data\\Leiden\\2017\\2\\3'
p33
ssNNsg8
(dp34
g24
(dp35
S'Mix Temperature'
p36
I01
sS'Still Temperature'
p37
I01
sS'Exchange Temperature'
p38
I01
ssg30
S'Dilution Unit Temperatures'
p39
sg32
S'Z:\\mcdermott-group\\Data\\Leiden\\2017\\2\\3'
p40
ssg10
(dp41
g24
(dp42
g36
I01
ssg30
S'Mix Pt1000 Temperature'
p43
sg32
S'Z:\\mcdermott-group\\Data\\Leiden\\2017\\2\\3'
p44
ssg12
(dp45
g24
(dp46
S'50K Stage Temperature'
p47
I01
sS'3K Stage Temperature'
p48
I01
ssg30
S'50K and 3K Pt1000 Temperatures'
p49
sg32
S'Z:\\mcdermott-group\\Data\\Leiden\\2017\\2\\3'
p50
ssg14
(dp51
g24
(dp52
S'External Water Flow Rate'
p53
I01
ssg30
S'Water Flow'
p54
sg32
S'Z:\\mcdermott-group\\Data\\Leiden\\2017\\2\\3'
p55
ssg16
(dp56
g24
(dp57
S'IVC Pressure'
p58
I01
sS'OVC Pressure'
p59
I01
sS'Still Pressure'
p60
I01
ssg30
S'Vacuum'
p61
sg32
S'Z:\\mcdermott-group\\Data\\Leiden\\2017\\2\\3'
p62
ssg18
(dp63
g24
(dp64
S'Exteranal Water Temperature'
p65
I01
ssg30
S'Water Temperature'
p66
sg32
S'Z:\\mcdermott-group\\Data\\Leiden\\2017\\2\\3'
p67
sssS'guiRefreshRate'
p68
F1
s.