(dp1
S'deviceRefreshRates'
p2
(dp3
S'Mix Pt1000 Temperature'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F8
ssS'Dilution Unit Temperatures'
p8
(dp9
g6
I1
sg7
F8
ssS'Compressor'
p10
(dp11
g6
I1
sg7
F8
ssS'50K and 3K Pt1000 Temperatures'
p12
(dp13
g6
I1
sg7
F8
ssS'Water Flow'
p14
(dp15
g6
I1
sg7
F8
ssS'Grapher'
p16
(dp17
g7
I1
ssS'Vacuum'
p18
(dp19
g6
I1
sg7
F8
ssS'Water Temperature'
p20
(dp21
g6
I1
sg7
F8
sssS'DataLoggingInfo'
p22
(dp23
g4
(dp24
S'channels'
p25
(dp26
S'Mix Temperature'
p27
I00
ssS'name'
p28
g4
sS'location'
p29
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr2\\04_16_17'
p30
ssNNsg8
(dp31
g25
(dp32
S'Still Temperature'
p33
I00
sS'Exchange Temperature'
p34
I00
sg27
I00
ssg28
g8
sg29
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr2\\04_16_17'
p35
ssg10
(dp36
g25
(dp37
S'Output Water Temperature'
p38
I00
sS'Oil Temperature'
p39
I00
sS'Helium Temperature'
p40
I00
sS'Input Water Temperature'
p41
I00
ssg28
g10
sg29
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr2\\04_16_17'
p42
ssg12
(dp43
g25
(dp44
S'50K Stage Temperature'
p45
I00
sS'3K Stage Temperature'
p46
I00
ssg28
S'50K and 3K Pt1000 Temperatures'
p47
sg29
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr2\\04_16_17'
p48
ssg14
(dp49
g25
(dp50
S'External Water Flow Rate'
p51
I00
ssg28
g14
sg29
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr2\\04_16_17'
p52
ssg18
(dp53
g25
(dp54
S'IVC Pressure'
p55
I00
sS'OVC Pressure'
p56
I00
sS'Still Pressure'
p57
I00
ssg28
g18
sg29
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr2\\04_16_17'
p58
ssg20
(dp59
g25
(dp60
S'Exteranal Water Temperature'
p61
I00
ssg28
g20
sg29
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr2\\04_16_17'
p62
sssS'guiRefreshRate'
p63
I1
sS'cooldown_mode'
p64
I01
s.