(dp1
S'deviceRefreshRates'
p2
(dp3
S'Compressor'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F8
ssS'Dilution Unit Temperatures'
p8
(dp9
g6
I1
sg7
F8
ssS'Mix Pt1000 Temperature'
p10
(dp11
g6
I1
sg7
F8
ssS'50K and 3K Pt1000 Temperatures'
p12
(dp13
g6
I1
sg7
F8
ssS'Water Flow'
p14
(dp15
g6
I1
sg7
F8
ssS'Grapher'
p16
(dp17
g7
F1
ssS'Vacuum'
p18
(dp19
g6
I1
sg7
F8
ssS'Water Temperature'
p20
(dp21
g6
I1
sg7
F8
sssS'DataLoggingInfo'
p22
(dp23
g4
(dp24
S'channels'
p25
(dp26
S'Output Water Temperature'
p27
I01
sS'Oil Temperature'
p28
I01
sS'Helium Temperature'
p29
I01
sS'Input Water Temperature'
p30
I01
ssS'name'
p31
S'Compressor'
p32
sS'location'
p33
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr2\\cooldown\\04_06_17'
p34
ssNNsg8
(dp35
g25
(dp36
S'Mix Temperature'
p37
I01
sS'Still Temperature'
p38
I01
sS'Exchange Temperature'
p39
I01
ssg31
S'Dilution Unit Temperatures'
p40
sg33
g34
ssg10
(dp41
g25
(dp42
g37
I01
ssg31
S'Mix Pt1000 Temperature'
p43
sg33
g34
ssg12
(dp44
g25
(dp45
S'50K Stage Temperature'
p46
I01
sS'3K Stage Temperature'
p47
I01
ssg31
S'50K and 3K Pt1000 Temperatures'
p48
sg33
g34
ssg14
(dp49
g25
(dp50
S'External Water Flow Rate'
p51
I01
ssg31
S'Water Flow'
p52
sg33
g34
ssg18
(dp53
g25
(dp54
S'IVC Pressure'
p55
I01
sS'OVC Pressure'
p56
I01
sS'Still Pressure'
p57
I01
ssg31
S'Vacuum'
p58
sg33
g34
ssg20
(dp59
g25
(dp60
S'Exteranal Water Temperature'
p61
I01
ssg31
S'Water Temperature'
p62
sg33
g34
sssS'guiRefreshRate'
p63
I1
s.