(dp1
S'deviceRefreshRates'
p2
(dp3
S'Light Meter 3000'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F0.29999999999999999
sssS'DataLoggingInfo'
p8
(dp9
NNsg4
(dp10
S'channels'
p11
(dp12
S'Average Light Level'
p13
I01
sS'Light Level'
p14
I00
sS'Filtered Light Level'
p15
I01
ssS'name'
p16
S'Light Meter 3000'
p17
sS'location'
p18
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\04_23_17'
p19
sssS'guiRefreshRate'
p20
L1L
s.