(dp1
S'guiRefreshRate'
p2
I1
sS'guiRefreshRage'
p3
I1
sS'DataLoggingInfo'
p4
(dp5
NNsS'Light Meter 3000'
p6
(dp7
S'channels'
p8
(dp9
S'Light Level'
p10
I01
ssS'name'
p11
S'Light Meter 3000'
p12
sS'location'
p13
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\2\\4'
p14
sssS'deviceRefreshRates'
p15
(dp16
S'Light Meter 3000'
p17
(dp18
S'plot'
p19
F0.050000000000000003
sS'readings'
p20
F0.050000000000000003
sss.