(dp1
S'deviceRefreshRates'
p2
(dp3
S'Test Node'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F0.10000000000000001
ssS'Virtual Device'
p8
(dp9
S'plot'
p10
I1
sS'readings'
p11
F0.10000000000000001
ssS'Light Meter 3000'
p12
(dp13
g10
I1
sS'readings'
p14
F1
sssS'guiRefreshRage'
p15
I1
sS'DataLoggingInfo'
p16
(dp17
g4
(dp18
S'channels'
p19
(dp20
S'test input'
p21
I01
sS'raw input'
p22
I01
ssS'name'
p23
g4
sS'location'
p24
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\3\\1'
p25
ssNNsg8
(dp26
S'channels'
p27
(dp28
S'test input'
p29
I01
sS'raw input'
p30
I01
ssS'name'
p31
g8
sS'location'
p32
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\3\\0'
p33
ssg12
(dp34
S'channels'
p35
(dp36
NI01
sS'Average Light Level'
p37
I01
sS'Light Level'
p38
I01
ssS'name'
p39
S'Light Meter 3000'
p40
sS'location'
p41
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\3\\1'
p42
sssS'guiRefreshRate'
p43
I1
s.