(dp1
S'deviceRefreshRates'
p2
(dp3
S'Return'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
I1
ssS'Keg'
p8
(dp9
g6
I1
sg7
I1
ssS'Lakeshore 370'
p10
(dp11
g6
I1
sg7
I1
ssS'Lakeshore 218'
p12
(dp13
g6
I1
sg7
I1
ssS'Grapher'
p14
(dp15
g7
I1
ssS'Still'
p16
(dp17
g6
I1
sg7
I1
sssS'DataLoggingInfo'
p18
(dp19
g4
(dp20
S'channels'
p21
(dp22
S'Pressure 2'
p23
I01
sS'Pressure 1'
p24
I01
ssS'name'
p25
S'Return'
p26
sS'location'
p27
S'Z:/mcdermott-group/data/cooldown/09_07_17'
p28
ssNNsg12
(dp29
g21
(dp30
S'Sensor 3'
p31
I01
sS'XCH'
p32
I01
sS'MIX'
p33
I01
sS'4IN'
p34
I01
sS'4OUT'
p35
I01
sS'1K'
p36
I01
sS'STILL'
p37
I01
sS'77K'
p38
I01
ssg25
S'Lakeshore 218'
p39
sg27
S'Z:/mcdermott-group/data/cooldown/09_07_17'
p40
ssg10
(dp41
g21
(dp42
g16
I01
sS'1K Pot'
p43
I01
sS'Mix 2'
p44
I01
sS'Mix 1'
p45
I01
sS'Exchange Plate'
p46
I01
ssg25
S'Lakeshore 370'
p47
sg27
S'Z:/mcdermott-group/data/cooldown/09_07_17'
p48
ssg8
(dp49
g21
(dp50
g23
I01
sg24
I01
ssg25
S'Keg'
p51
sg27
S'Z:/mcdermott-group/data/cooldown/09_07_17'
p52
ssg16
(dp53
g21
(dp54
g23
I01
sg24
I01
ssg25
S'Still'
p55
sg27
S'Z:/mcdermott-group/data/cooldown/09_07_17'
p56
sssS'guiRefreshRate'
p57
I1
sS'cooldown_mode'
p58
I01
s.