(dp1
S'NotifierInfo'
p2
(dp3
S'Mail_Settings'
p4
(dp5
S'DisplayValue'
p6
I3
sS'DisplayUnit'
p7
S'Hours'
p8
sS'Period'
p9
I10800
ssS'Mailing'
p10
(dp11
sS'Limits'
p12
(dp13
S'Still:Pressure 1'
p14
(dp15
S'Max'
p16
NsS'enable'
p17
I00
sS'Min'
p18
NssS'Still:Pressure 2'
p19
(dp20
g16
Nsg17
I00
sg18
NssS'Return:Pressure 1'
p21
(dp22
g16
Nsg17
I00
sg18
NssS'Return:Pressure 2'
p23
(dp24
g16
Nsg17
I00
sg18
NssS'Lakeshore 218:4IN'
p25
(dp26
g16
Nsg17
I00
sg18
NssS'Lakeshore 370:Still'
p27
(dp28
g16
Nsg17
I00
sg18
NssS'Lakeshore 218:STILL'
p29
(dp30
g16
Nsg17
I00
sg18
NssS'Lakeshore 218:Sensor 3'
p31
(dp32
g16
Nsg17
I00
sg18
NssS'Lakeshore 370:Mix 1'
p33
(dp34
g16
Nsg17
I00
sg18
NssS'Keg:Pressure 1'
p35
(dp36
g16
Nsg17
I00
sg18
NssS'Keg:Pressure 2'
p37
(dp38
g16
Nsg17
I00
sg18
NssS'Lakeshore 370:Mix 2'
p39
(dp40
g16
Nsg17
I00
sg18
NssS'Lakeshore 218:4OUT'
p41
(dp42
g16
Nsg17
I00
sg18
NssS'Lakeshore 218:1K'
p43
(dp44
g16
Nsg17
I00
sg18
NssS'Lakeshore 370:Exchange Plate'
p45
(dp46
g16
Nsg17
I00
sg18
NssS'Lakeshore 218:MIX'
p47
(dp48
g16
Nsg17
I00
sg18
NssS'Lakeshore 218:77K'
p49
(dp50
g16
Nsg17
I00
sg18
NssS'Lakeshore 370:1K Pot'
p51
(dp52
g16
Nsg17
I00
sg18
NssS'Lakeshore 218:XCH'
p53
(dp54
g16
Nsg17
I00
sg18
NssssS'DataLoggingInfo'
p55
(dp56
S'Return'
p57
(dp58
S'channels'
p59
(dp60
S'Pressure 2'
p61
I01
sS'Pressure 1'
p62
I01
ssS'name'
p63
S'Return'
p64
sS'location'
p65
S'C:\\Users\\lab_user\\Documents\\Data\\warm'
p66
ssNNsS'Lakeshore 218'
p67
(dp68
g59
(dp69
S'Sensor 3'
p70
I01
sS'XCH'
p71
I01
sS'MIX'
p72
I01
sS'4IN'
p73
I01
sS'4OUT'
p74
I01
sS'1K'
p75
I01
sS'STILL'
p76
I01
sS'77K'
p77
I01
ssg63
S'Lakeshore218'
p78
sg65
S'C:\\Users\\lab_user\\Documents\\Data\\warm'
p79
ssS'Lakeshore 370'
p80
(dp81
g59
(dp82
S'Still'
p83
I01
sS'1K Pot'
p84
I01
sS'Exchange Plate'
p85
I01
sS'Mix 1'
p86
I01
sS'Mix 2'
p87
I01
ssg63
S'Lakesore370'
p88
sg65
S'C:\\Users\\lab_user\\Documents\\Data\\warm'
p89
ssS'Keg'
p90
(dp91
g59
(dp92
g61
I01
sg62
I01
ssg63
S'Keg'
p93
sg65
S'C:\\Users\\lab_user\\Documents\\Data\\warm'
p94
ssg83
(dp95
g59
(dp96
g61
I01
sg62
I01
ssg63
S'Still'
p97
sg65
S'C:\\Users\\lab_user\\Documents\\Data\\warm'
p98
sssS'deviceRefreshRates'
p99
(dp100
g57
(dp101
S'plot'
p102
L1L
sS'readings'
p103
L1L
ssg90
(dp104
g102
L1L
sg103
L1L
ssg80
(dp105
g102
L1L
sg103
L1L
ssg67
(dp106
g102
L1L
sg103
L1L
ssS'Grapher'
p107
(dp108
g103
L1L
ssg83
(dp109
g102
L1L
sg103
L1L
sssS'cooldown_mode'
p110
I01
sS'guiRefreshRate'
p111
L1L
sS'Email'
p112
(dp113
S'Host'
p114
S'smtp.googlemail.com'
p115
sS'Password'
p116
S'mcdermott'
p117
sS'Address'
p118
S'physics.labrad@gmail.com'
p119
ss.