(dp1
S'deviceRefreshRates'
p2
(dp3
S'Return'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
I1
ssS'Keg'
p8
(dp9
g6
I1
sg7
I1
ssS'Lakeshore 370'
p10
(dp11
g6
I1
sg7
I1
ssS'Lakeshore 218'
p12
(dp13
g6
I1
sg7
I1
ssS'Grapher'
p14
(dp15
S'readings'
p16
I1
ssS'Still'
p17
(dp18
g6
I1
sg7
I1
sssS'DataLoggingInfo'
p19
(dp20
g4
(dp21
S'channels'
p22
(dp23
S'Pressure 2'
p24
I01
sS'Pressure 1'
p25
I01
ssS'name'
p26
S'Return'
p27
sS'location'
p28
S'Z:\\mcdermott-group\\data\\fridgeLogs\\dr1\\standbyData\\04_24_17'
p29
ssNNsg12
(dp30
g22
(dp31
S'Sensor 3'
p32
I01
sS'XCH'
p33
I01
sS'MIX'
p34
I01
sS'4IN'
p35
I01
sS'4OUT'
p36
I01
sS'1K'
p37
I01
sS'STILL'
p38
I01
sS'77K'
p39
I01
ssg26
S'Lakeshore 218'
p40
sg28
g29
ssg10
(dp41
g22
(dp42
g17
I01
sS'1K Pot'
p43
I01
sS'Mix 2'
p44
I01
sS'Mix 1'
p45
I01
sS'Exchange Plate'
p46
I01
ssg26
S'Lakeshore 370'
p47
sg28
g29
ssg8
(dp48
g22
(dp49
g24
I01
sg25
I01
ssg26
S'Keg'
p50
sg28
g29
ssg17
(dp51
g22
(dp52
g24
I01
sg25
I01
ssg26
S'Still'
p53
sg28
g29
sssS'guiRefreshRate'
p54
I1
sS'cooldown_mode'
p55
I00
s.