(dp1
S'deviceRefreshRates'
p2
(dp3
S'Local Temperatures'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
I1
ssS'Test Node'
p8
(dp9
g7
I1
ssS'Random'
p10
(dp11
g6
I1
sg7
I1
ssS'Grapher'
p12
(dp13
g7
I1
sssS'DataLoggingInfo'
p14
(dp15
g4
(dp16
S'channels'
p17
(dp18
S'avg'
p19
I01
sS'Outside Temperature'
p20
I01
sS'Outside pressure'
p21
I01
sS'Humidity'
p22
I01
ssS'name'
p23
g4
sS'location'
p24
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\04_25_17'
p25
ssg8
(dp26
g17
(dp27
S'test input'
p28
I01
sS'raw input'
p29
I01
ssg23
g8
sg24
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\04_25_17'
p30
ssNNsg10
(dp31
g17
(dp32
S'Random Pressure'
p33
I01
sS'Random Temperature'
p34
I01
ssg23
g10
sg24
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\04_25_17'
p35
sssS'guiRefreshRate'
p36
F0.5
sS'cooldown_mode'
p37
I01
s.