(dp1
S'deviceRefreshRates'
p2
(dp3
S'Local Temperatures'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F5
ssS'Test Node'
p8
(dp9
S'plot'
p10
I1
sg7
F5
ssS'Random'
p11
(dp12
g6
I1
sg7
I1
ssS'Grapher'
p13
(dp14
g7
I1
sssS'guiRefreshRage'
p15
I1
sS'DataLoggingInfo'
p16
(dp17
g4
(dp18
S'channels'
p19
(dp20
S'avg'
p21
I01
sS'Outside Temperature'
p22
I00
sS'Outside pressure'
p23
I00
sS'Humidity'
p24
I00
ssS'name'
p25
g4
sS'location'
p26
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\3\\3'
p27
ssg8
(dp28
g19
(dp29
S'test input'
p30
I01
sS'raw input'
p31
I01
ssg25
g8
sg26
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\3\\3'
p32
ssNNsg11
(dp33
g19
(dp34
S'Random Pressure'
p35
I00
sS'Random Temperature'
p36
I00
ssg25
g11
sg26
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\3\\3'
p37
sssS'guiRefreshRate'
p38
F0.5
s.