(dp1
S'deviceRefreshRates'
p2
(dp3
S'Local Temperatures'
p4
(dp5
S'plot'
p6
F1
sS'readings'
p7
F1
ssS'Random'
p8
(dp9
g6
F1
sg7
F1
ssS'Virtual Device'
p10
(dp11
g6
I1
sssS'guiRefreshRage'
p12
I1
sS'DataLoggingInfo'
p13
(dp14
g4
(dp15
S'channels'
p16
(dp17
S'Outside Temperature'
p18
I01
sS'Outside pressure'
p19
I01
sS'Humidity'
p20
I01
ssS'name'
p21
S'Local Temperatures'
p22
sS'location'
p23
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\1\\3'
p24
ssNNsg8
(dp25
g16
(dp26
S'Random Pressure'
p27
I01
sS'Random Temperature'
p28
I01
ssg21
S'Random'
p29
sg23
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\2017\\1\\3'
p30
sssS'guiRefreshRate'
p31
F0.5
s.