(dp1
S'deviceRefreshRates'
p2
(dp3
S'Local Temperatures'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F3
ssS'Test Node'
p8
(dp9
S'plot'
p10
I1
sg7
I1
ssS'Random'
p11
(dp12
g6
I1
sg7
F2
ssS'Grapher'
p13
(dp14
g7
I1
sssS'DataLoggingInfo'
p15
(dp16
g4
(dp17
S'channels'
p18
(dp19
S'avg'
p20
I01
sS'Outside Temperature'
p21
I01
sS'Outside pressure'
p22
I01
sS'Humidity'
p23
I01
ssS'name'
p24
S'Local Temperatures'
p25
sS'location'
p26
S'C:/Users/Noah/Documents/College/McDermott/DatachestRoot/testBigButton/standby/05_05_17'
p27
ssg8
(dp28
g18
(dp29
S'test input'
p30
I01
sS'raw input'
p31
I01
ssg24
S'Test Node'
p32
sg26
S'C:/Users/Noah/Documents/College/McDermott/DatachestRoot/testBigButton/standby/05_05_17'
p33
ssNNsg11
(dp34
g18
(dp35
S'Random Pressure'
p36
I00
sS'Random Temperature'
p37
I00
ssg24
S'Random'
p38
sg26
S'C:/Users/Noah/Documents/College/McDermott/DatachestRoot/testBigButton/standby/05_05_17'
p39
sssS'guiRefreshRate'
p40
F0.5
sS'cooldown_mode'
p41
I00
s.